{
  "openapi": "3.1.0",
  "info": {
    "title": "Medium Metrics API",
    "version": "1.0.0",
    "description": "Read-only access to locally-logged Medium readership stats."
  },
  "servers": [
    { "url": "https://dell717.tail23295d.ts.net/v1" }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Liveness, app version, active account, and data freshness.",
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/accounts": {
      "get": {
        "operationId": "listAccounts",
        "summary": "List known Medium accounts so the user can be asked which to use.",
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/summary": {
      "get": {
        "operationId": "getSummary",
        "summary": "Account-level headline totals from the latest snapshot.",
        "parameters": [
          { "name": "account", "in": "query", "required": false, "description": "Account id or handle; defaults to the active account.", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/search": {
      "get": {
        "operationId": "searchStories",
        "summary": "Relevance-ranked full-text search across the user's own stories (title, tags, and article body where captured). Returns best matches first with a score, matched fields, and a snippet. Use it to find which articles cover a topic by content, then open them.",
        "description": "The 'coverage' field reports what was indexed: 'title,tags,body' once article content has been captured, otherwise 'title,tags'.",
        "parameters": [
          { "name": "q", "in": "query", "required": true, "description": "Search terms. Multiple words are matched individually; an exact title phrase ranks highest.", "schema": { "type": "string" } },
          { "name": "account", "in": "query", "required": false, "description": "Account id or handle; defaults to the active account.", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "maximum": 200 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/stories": {
      "get": {
        "operationId": "listStories",
        "summary": "List stories with optional search/tag filter and sorting. Paginated.",
        "parameters": [
          { "name": "account", "in": "query", "required": false, "description": "Account id or handle; defaults to the active account.", "schema": { "type": "string" } },
          { "name": "search", "in": "query", "description": "Match title or tag.", "schema": { "type": "string" } },
          { "name": "tag", "in": "query", "schema": { "type": "string" } },
          { "name": "sort", "in": "query", "schema": { "type": "string", "enum": ["views", "reads", "readRatio", "earnings", "claps", "impressions", "publishedAt", "title"] } },
          { "name": "order", "in": "query", "schema": { "type": "string", "enum": ["asc", "desc"] } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50, "maximum": 200 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/stories/{storyId}": {
      "get": {
        "operationId": "getStory",
        "summary": "One story's metadata.",
        "parameters": [
          { "name": "account", "in": "query", "required": false, "description": "Account id or handle; defaults to the active account.", "schema": { "type": "string" } },
          { "name": "storyId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/stories/{storyId}/content": {
      "get": {
        "operationId": "getStoryContent",
        "summary": "The article's captured content (body text, subtitle, word count, reading time, language, paywall flag) so the assistant can analyze the user's actual prose. Returns 404 until the story is opened in the app to capture it.",
        "parameters": [
          { "name": "account", "in": "query", "required": false, "description": "Account id or handle; defaults to the active account.", "schema": { "type": "string" } },
          { "name": "storyId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/stories/{storyId}/detail": {
      "get": {
        "operationId": "getStoryDetail",
        "summary": "Cached per-story detail (funnel, follower/subscriber gains, referrers). Returns 404 until the story is opened in the app.",
        "parameters": [
          { "name": "account", "in": "query", "required": false, "description": "Account id or handle; defaults to the active account.", "schema": { "type": "string" } },
          { "name": "storyId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/stories/{storyId}/history": {
      "get": {
        "operationId": "getStoryHistory",
        "summary": "Per-story stats time series (one point per refresh): views, reads, impressions, earnings. Empty until logging has accrued.",
        "parameters": [
          { "name": "account", "in": "query", "required": false, "description": "Account id or handle; defaults to the active account.", "schema": { "type": "string" } },
          { "name": "storyId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/stories/{storyId}/daily": {
      "get": {
        "operationId": "getStoryDaily",
        "summary": "Per-day growth for one story (amount gained each day): views, reads, readRatio, impressions, earnings.",
        "parameters": [
          { "name": "account", "in": "query", "required": false, "description": "Account id or handle; defaults to the active account.", "schema": { "type": "string" } },
          { "name": "storyId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/stories/{storyId}/referrers": {
      "get": {
        "operationId": "getStoryReferrers",
        "summary": "Traffic sources for one story (view counts per source), from cached detail. Returns 404 until the story is opened in the app.",
        "parameters": [
          { "name": "account", "in": "query", "required": false, "description": "Account id or handle; defaults to the active account.", "schema": { "type": "string" } },
          { "name": "storyId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/stories/{storyId}/conversions": {
      "get": {
        "operationId": "getStoryConversions",
        "summary": "Followers/subscribers gained for one story + conversion rate from reads, from cached detail. Returns 404 until the story is opened in the app.",
        "parameters": [
          { "name": "account", "in": "query", "required": false, "description": "Account id or handle; defaults to the active account.", "schema": { "type": "string" } },
          { "name": "storyId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/stories/{storyId}/similar": {
      "get": {
        "operationId": "getStorySimilar",
        "summary": "Stories most similar to this one (by tag and title-keyword overlap). Optional limit (default 5).",
        "parameters": [
          { "name": "account", "in": "query", "required": false, "description": "Account id or handle; defaults to the active account.", "schema": { "type": "string" } },
          { "name": "storyId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 5, "maximum": 50 } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/stories/{storyId}/title-history": {
      "get": {
        "operationId": "getTitleHistory",
        "summary": "Recorded title changes for one story over time (a change log; empty until a title changes).",
        "parameters": [
          { "name": "account", "in": "query", "required": false, "description": "Account id or handle; defaults to the active account.", "schema": { "type": "string" } },
          { "name": "storyId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/tags": {
      "get": {
        "operationId": "listTagMetrics",
        "summary": "Per-tag totals (stories, views, reads, earnings, read ratio, earnings per story).",
        "parameters": [
          { "name": "account", "in": "query", "required": false, "description": "Account id or handle; defaults to the active account.", "schema": { "type": "string" } },
          { "name": "sort", "in": "query", "schema": { "type": "string", "enum": ["views", "reads", "earnings", "earningsPerStory", "readRatio", "stories", "claps"] } },
          { "name": "order", "in": "query", "schema": { "type": "string", "enum": ["asc", "desc"] } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/tags/followers": {
      "get": {
        "operationId": "getFollowersByTag",
        "summary": "Per-tag follower/subscriber gains from cached detail, plus a coverage block.",
        "parameters": [
          { "name": "account", "in": "query", "required": false, "description": "Account id or handle; defaults to the active account.", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/tags/{tag}/stories": {
      "get": {
        "operationId": "listStoriesByTag",
        "summary": "Stories carrying a given tag.",
        "parameters": [
          { "name": "account", "in": "query", "required": false, "description": "Account id or handle; defaults to the active account.", "schema": { "type": "string" } },
          { "name": "tag", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/reports/by-year": {
      "get": {
        "operationId": "getByYear",
        "summary": "Totals grouped by publish year.",
        "parameters": [
          { "name": "account", "in": "query", "required": false, "description": "Account id or handle; defaults to the active account.", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/reports/by-month": {
      "get": {
        "operationId": "getByMonth",
        "summary": "Totals grouped by publish month (yyyy-MM).",
        "parameters": [
          { "name": "account", "in": "query", "required": false, "description": "Account id or handle; defaults to the active account.", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/reports/patterns": {
      "get": {
        "operationId": "getPatterns",
        "summary": "Structural title-pattern buckets (question/number/colon/length) with average read ratio and earnings.",
        "parameters": [
          { "name": "account", "in": "query", "required": false, "description": "Account id or handle; defaults to the active account.", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/reports/earnings/daily": {
      "get": {
        "operationId": "getDailyEarnings",
        "summary": "Daily earnings totals and per-day deltas from the history log.",
        "parameters": [
          { "name": "account", "in": "query", "required": false, "description": "Account id or handle; defaults to the active account.", "schema": { "type": "string" } },
          { "name": "from", "in": "query", "schema": { "type": "string", "format": "date" } },
          { "name": "to", "in": "query", "schema": { "type": "string", "format": "date" } },
          { "name": "baseline", "in": "query", "schema": { "type": "number" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/history": {
      "get": {
        "operationId": "getHistory",
        "summary": "Account-total time series, one row per refresh.",
        "parameters": [
          { "name": "account", "in": "query", "required": false, "description": "Account id or handle; defaults to the active account.", "schema": { "type": "string" } },
          { "name": "from", "in": "query", "schema": { "type": "string", "format": "date" } },
          { "name": "to", "in": "query", "schema": { "type": "string", "format": "date" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 200, "maximum": 1000 } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    }
  }
}
